/*Preset styles*/
:root {
  /*Font styles*/
  --font-title: normal 400 120px/160px 'Pantherdam Signature';
  --font-section-caption: normal 400 80px/100px 'Pantherdam Signature';
  --font-second-caption: normal 400 36px/43px 'Afterglow';
  --font-third-caption: normal 400 24px/29px 'Afterglow';
  --font-nav-menu: normal 400 30px/36px 'Afterglow';
  --font-regular: normal 400 28px/34px 'Barlow';
  --font-descr-32px-light: normal 400 32px/28px 'Barlow';
  --font-descr-24px: normal 400 24px/29px 'Barlow';
  --font-descr-24px-light: normal 400 24px/29px 'Barlow';
  --font-descr-24px-bold: normal 400 24px/29px 'Barlow';
  --font-link: italic 400 22px/26.4px 'Barlow';
  --font-code: normal 400 14px/16px 'Consolas';
  --font-tablet-title: normal 400 80px/100px 'Pantherdam Signature';
  --font-tablet-section-caption: normal 400 60px/80px 'Pantherdam Signature';
  --font-mobile-title: normal 400 60px/80px 'Pantherdam Signature';
  --font-mobile-section-caption: normal 400 44px/53px 'Aftorglow';
  --font-mobile-second-caption: normal 400 32px/38px 'Afterglow';
  --font-mobile-regular: normal 400 22px/26px 'Barlow';
  --font-mobile-link: italic 400 20px/24px 'Barlow';
  /*Color styles*/
  --color-back1: #cdcdcd;
  --color-back2: #e1d5d2;
  --color-back3: #ede9e8;
  --color-back4: #7a5f5f;
  --color-text1: #000000;
  --color-text2: #260c06;
  --color-obj1: #260c06;
  --color-obj2: #7a5f5f;
  --color-obj3: #878787;
  --color-obj4: #ff9a00;
  --color-obj5: #000000;
  --color-obj6: #554747;
  --color-add1: rgba(205, 205, 205, 0.8);
  /*Effects*/
  --eff-filshad1: drop-shadow(-1px 6px 10px rgba(0, 0, 0, 0.5));
  --eff-boxshad1: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

html {
  margin: 0;
  width: 100%;
}

* {
  display: inline-block;
  box-sizing: inherit;
  margin: 0;
}

head,
script {
  display: none;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

/*Box handlers start*/
/*Canvas strat*/

.canvas-main {
  width: 100%;
  align-items: center;
  background-color: var(--color-back1);
}

.canvas-footer {
  width: 100%;
  align-items: center;
  background-color: var(--color-back4);
}

/*Canvas end*/
/*Wrapper start*/
/*common wrappers*/
.wrapper-page {
  width: max(900px, min(1280px, 100%));
  margin: 0 auto;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.wrapper-scroll {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper-pillar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-stretch-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.wrapper-line {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.wrapper-stretch-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.wrapper-flex-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-self: center;
  row-gap: 40px;
}

/*specified wrappers*/
.wrapper-nav {
  position: fixed;
  width: 300px;
  height: min(calc(100vh - 89px), 900px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 10px 30px 40px;
}

.nav_element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.wrapper-section {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 30px;
}

.wrapper-section-caption {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.wrapper-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 140px;
}

#data-wrapper {
  padding-left: 300px;
}

#header-row {
  align-items: center;
}

#about {
  gap: 100px;
}

#contacts-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 40px;
  column-gap: 10px;
}

.cont-elem-line {
  grid-column: 3 span;
}

.cont-elem-pillar {
  grid-column: 2 span;
}

#skills-content {
  gap: 50px;
}

#skills-hs-block,
#skills-ss-block,
#skills-lang-block {
  gap: 30px;
}

.skill-component {
  display: block;
  text-align: center;
  border-radius: 30px;
}

.list {
  gap: 20px;
}

.list-elem {
  padding: 20px 0;
  align-items: center;
  gap: 10px;
}

#courses-list .list-elem {
  gap: 50px;
}

.list-elem>.wrapper-scroll {
  gap: 10px;
}

.ed-elem-year {
  width: 180px;
  text-align: center;
}

.ed-elem-name {
  flex-grow: 1;
  text-align: center;
}

.ed-elem-qual {
  width: 180px;
  text-align: center;
}

.em-elem-year {
  width: 100px;
  text-align: center;
}

.em-elem-name {
  flex-grow: 1;
}

.list-elem>.wrapper-pillar {
  width: 300px;
  align-items: center;
  gap: 10px;
}

#code-content {
  gap: 15px;
}

.code-component {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid green;
  border-radius: 35px;
}

.project-component {
  display: block;
  width: 350px;
  height: 200px;
  text-align: center;
  border: 1px solid green;
  border-radius: 30px;
}

#footer-wrapper {
  padding: 20px 40px 40px;
  align-items: center;
}

#footer-gh-logo {
  margin-right: 10px;
}

/*Wrapper end*/
/*Box handlers end*/

h3 {
  align-self: center;
}

/*Typography styles*/
.nav_element {
  font: var(--font-nav-menu);
  color: var(--color-text2);
}

.title {
  font: var(--font-title);
  color: var(--color-text2);
}

h2 {
  font: var(--font-section-caption);
  color: var(--color-text2);
}

#about-text {
  font: var(--font-regular);
  color: var(--color-text2);
  text-align: justify;
}

.contact-line-link {
  font: var(--font-link);
  letter-spacing: -0.05em;
  text-decoration: underline;
  color: var(--color-text2);
}

.contact-pil-link {
  font: var(--font-descr-32px-light);
  color: var(--color-text2);
}

h3 {
  font: var(--font-second-caption);
  color: var(--color-text2);
}

.ed-elem-year,
.em-elem-year {
  font: var(--font-third-caption);
  color: var(--color-text2);
  text-align: center;
}

.ed-elem-name,
.ed-elem-qual,
.em-elem-name,
.em-elem-pos-name {
  font: var(--font-regular);
  color: var(--color-text2);
  text-align: center;
}

.cr-elem-name {
  font: var(--font-regular);
  color: var(--color-text2);
  text-align: left;
}

.cr-elem-desc {
  font: var(--font-descr-24px-light);
  color: var(--color-text1);
  text-align: left;
}

.em-elem-pos-desc {
  font: var(--font-descr-24px-light);
  color: var(--color-text1);
  text-align: center;
}

#footer-wrapper>* {
  font: var(--font-descr-24px);
  color: var(--color-text1);
}

/*Appearance styles*/
.nav-elem-thumb {
  width: 50px;
  height: 50px;
}

.wrapper-nav::after {
  width: 5px;
  height: auto;
  content: '';
  background-color: var(--color-obj6);
  border-radius: 3px;
}

.my-photo {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 75px;
  filter: var(--eff-filshad1);
}

.my-photo-thumb {
  position: absolute;
  left: -15px;
  top: -10px;
  width: 170px;
  height: 170px;
}

.my-photo::before {
  position: absolute;
  box-sizing: border-box;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  content: '';
  border: 15px solid var(--color-obj5);
  border-radius: 50%;
  opacity: 35%;
  z-index: 1;
}

#home::after {
  width: auto;
  height: 5px;
  content: '';
  background-color: var(--color-obj6);
  border-radius: 3px;
}

.sec-title-pic {
  width: 100px;
  height: 100px;
}

.sec-title-block {
  align-items: center;
  gap: 30px;
}

.sec-title-block::before,
.sec-title-block::after {
  height: 5px;
  flex-grow: 1;
  content: '';
  background-color: var(--color-obj6);
  border-radius: 3px;
}

.contact-line-link {
  box-sizing: border-box;
  flex-grow: 1;
  height: 50px;
  padding-right: 10px;
  background-color: var(--color-back2);
  border: 3px solid var(--color-obj3);
  border-radius: 25px;
  box-shadow: var(--eff-boxshad1);
}

.contact-line-link>img {
  position: relative;
  width: 50px;
  height: 50px;
  top: -3px;
  left: -3px;
}

.contact-line-link>span {
  position: relative;
  top: 5px;
  flex-grow: 1;
  vertical-align: middle;
  text-align: center;
}

.contact-pil-link>img {
  width: 100px;
  height: 100px;
}

.list-elem-wrap:not(:last-child)::after {
  content: '';
  height: 5px;
  width: 100%;
  border-radius: 3px;
  background-color: var(--color-obj3);
}

#courses-list .list-elem::before {
  flex-shrink: 0;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: var(--color-obj2);
  border: 3px solid var(--color-obj6);
}

#gh-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-pic {
  height: 40px;
}